Package: dns-nas-utils
Version: 2.0
Section: admin
Priority: optional
Architecture: all
Installed-Size: 64
Maintainer: Sergi Casbas <sergi@casbas.cat>
Description: Miscallaneous scripts for D-Link NASes, DNS-325 and DNS-320
 This package contains:-
  dns-nas-utils: Controls fan based on hdd and board temperature, send 
                 kernel messages about system temp and hdd status and
                 handle hdd leds.
  dns_temp: Fetches the temperature of the NAS, either via I2C or serial

